body{
    background-color: rgb(174, 209, 245);
}
h1{
    color: darkgoldenrod;
    background-color: rgb(236, 195, 209);
}
p{
    color: blue;
}
b{
    color: black;
}
I{
    color: rgb(247, 118, 118);
}



